---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -3
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
IndentCaseLabels: false
